<form class="login-form" action="users/authLogin" method="post">
    <input type="text" name="Username" placeholder="Username">
    <input type="password" name="Password" placeholder="Password">
    <button>Login</button>
    <p class="message">Not Registered Yet? <a href="register"> Register </a> </p>
</form>